$white: #FFFFFF;
$accent-color: #01FFC2;
$text-secondary: #5E636E;
$text-color: #FCFCFD;
$overlay: #7156FD33;
$overlay-light: #7156FB;
$light-bg: #E5F7FF;
$gradient-bg: linear-gradient(180.00deg, #140132, #140132 197.959%);
$gradient-section-bg: linear-gradient(180.00deg, #7156FB, #FF0DFF 100%);

$font-base: 'Montserrat', sans-serif;