section.about
  .about__container
    h2.about__title
      span.about__title--accent Cheelee’s&nbsp;
      | mission
    .about__wrapper
      .about__wrapper__info Users spend an average of 2.5 hours daily on social networks and get nothing fоr it. We believe that this is unfair
      .about__wrapper__info
        span.about__wrapper__info--accent Our mission
        |  is to provide everyone with the opportunity to monetize time in social networks
    h4.about__subtitle
      span.about__subtitle--accent Cheelee&nbsp;
      | works within the "Attention Economy" framework
    .about__wrapper
      .about__wrapper__content
        .about__wrapper__desc
          | Other social media consider a user as an information and advertising influence target,
          span.about__wrapper__desc--accent  but a Cheelee user is a full system member, partner and beneficiary
        .about__wrapper__desc
          spna.about__wrapper__desc--accent The Attention Economy
          |  sees human attention as a scarce commodity making it a new oil! The founder of this concept is the Nobel laureate Herbert Simon
      .about__wrapper__content
        .about__wrapper__desc The main idea is that attention is converted into income with digital platforms. You pay your attention to what you want, and get paid for it. Your attention has a certain cost.
        .about__wrapper__desc Through the GameFi mechanics, Cheelee’s users earn together with the platform by converting their attention into money