section.calltoaction
  .calltoaction__container
    .calltoaction__thumbnail
      h2.calltoaction__thumbnail__title
        | Watch the videos and
        span.calltoaction__thumbnail__title--accent  get the boxes
      span.calltoaction__thumbnail__desc While watching the feed you can get boxes with NFT or LEE tokens
    .calltoaction__preview
      img.calltoaction__preview__image(src="../assets/images/call_to_action_bg.png")