section.features
  .features__container
    .features__preview
      .features__preview__thumbnail
        | Don’t miss the
        span.features__preview__thumbnail--accent  Presale
      button.features__preview__button Buy NFT glasses