header.header
  .header__container
    a.header__logo
      img.header__logo__icon(src="../assets/images/logo.png")
    nav.header__nav
      a.header__nav__link About us
      a.header__nav__link Roadmap
      a.header__nav__link Documents
      a.header__nav__link F.A.Q.
      a.header__nav__link.header__nav__link--accent Buy NFT glasses
    .header__menu
      .header__rate
        .header__rate__preview
          img.header__rate__image(src="../assets/images/cheel.png")
        .header__rate__wrapper
          .header__rate__desc CHEEL
          .header__rate__content
            span.header__rate__price $8,00
            span.header__rate__quote
              svg.header__rate__icon(width="7.000000" height="5.000000" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(id="Vector 70" d="M0 5L3.5 0L7 5L0 5Z" fill="#01FFC2" fill-opacity="1.000000" fill-rule="evenodd")
      .header__rate
        .header__rate__preview
          img.header__rate__image(src="../assets/images/lee.png")
        .header__rate__wrapper
          .header__rate__desc LEE
          .header__rate__content
            span.header__rate__price $8,00
            span.header__rate__quote
              svg.header__rate__icon(width="7.000000" height="5.000000" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(id="Vector 70" d="M0 5L3.5 0L7 5L0 5Z" fill="#01FFC2" fill-opacity="1.000000" fill-rule="evenodd")
      .header__audit
        img.header__audit__image(src="../assets/images/certik.png")
      button.header__button
        span.header__button__lang EN
        span.header__button__preview
          svg.header__button__icon(width="10.000000" height="5.000000" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(id="Vector 69" d="M0 0L5 5L10 0L0 0Z" fill="#5E636E" fill-opacity="1.000000" fill-rule="evenodd")