section.howitworks
  .howitworks__container
    .howitworks__content
      .howitworks__first-steps
        .howitworks__first-steps__wrapper
          .howitworks__first-steps__number 1
          h2.howitworks__first-steps__title
            | Sign-up&nbsp;and&nbsp;get
            span.howitworks__first-steps__title--accent  your&nbsp;free&nbsp;NFT&nbsp;glasses
        .howitworks__first-steps__wrapper
          .howitworks__first-steps__number 2
          h2.howitworks__first-steps__title
            | Watch&nbsp;the&nbsp;feed and&nbsp;get&nbsp;the&nbsp;boxes
            span.howitworks__first-steps__title--accent  with&nbsp;LEE&nbsp;tokens
      .howitworks__thumbnail
        img.howitworks__thumbnail__preview(src="../assets/images/how_it_works_bg.jpeg")
    .howitworks__second-steps
      .howitworks__second-steps__wrapper
        .howitworks__second-steps__number 3
        h2.howitworks__second-steps__title
          | Buy your NFT glasses and
          span.howitworks__second-steps__title--accent  get LEE tokens
          |  directly when watching the feed
        .howitworks__second-steps__content
          span.howitworks__second-steps__desc The&nbsp;higher&nbsp;the&nbsp;rarity of&nbsp;your&nbsp;NFT&nbsp;glasses, the&nbsp;more&nbsp;points&nbsp;you&nbsp;get when&nbsp;leveling&nbsp;them up&nbsp;–&nbsp;the&nbsp;more&nbsp;tokens you&nbsp;can&nbsp;earn
          span.howitworks__second-steps__preview
            img.howitworks__second-steps__image(src="../assets/images/cash.png")
      .howitworks__second-steps__wrapper
        .howitworks__second-steps__number 4
        h2.howitworks__second-steps__title
          | Upgrade your
          span.howitworks__second-steps__title--accent  NFT&nbsp;glasses
      .howitworks__second-steps__wrapper
        .howitworks__second-steps__number 5
        h2.howitworks__second-steps__title
          span.howitworks__second-steps__title--accent  Buy&nbsp;additional NFT&nbsp;glasses
          |  to&nbsp;increase&nbsp;the&nbsp;amount of&nbsp;Attention and&nbsp;rewarded&nbsp;time of&nbsp;watching&nbsp;the&nbsp;feed
        p.howitworks__second-steps__desc
          | 1&nbsp;Attention&nbsp;=&nbsp;
          span.howitworks__second-steps__desc--accent 10&nbsp;minutes
          |  of&nbsp;rewarded&nbsp;feed&nbsp;viewing