section.productinfo
  .productinfo__container
    .productinfo__thumbnail
      h2.productinfo__thumbnail__title
        | Cheelee team has
        span.productinfo__thumbnail__title--accent  already launched product
      span.productinfo__thumbnail__desc The project is based on the already launched in 2021 short video platform – NUTSon (1.5M users, 33% engagement rate and 15K videos created daily)
    .productinfo__preview
      img.productinfo__preview__image(src="../assets/images/product_info_bg.png")